.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.comment-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #64748b;
  width: 96%;
  padding-bottom: 8px;
}
.name-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 0px;
  padding-left: 0;
}
.name {
  color: #334155;
  font-family: 'Roboto';
  font-size: 25px;
  margin-left: 10px;
}

.time {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 15px;
  margin-left: 10px;
}
.comment {
  margin-left: 36px;
  line-height: 0px;
}
.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  margin-top: 18px;
}
.like-icon-label {
  font-size: 18px;
  margin-left: 5px;
  font-weight: 600;
  color: #475569;
}
.icon-button {
  background-color: transparent;
  margin-right: 40px;
  border: none;
  cursor: pointer;
  outline: none;
}
.icon {
  height: 20px;
  width: 20px;
}
.like-color {
  color: #0b69ff;
}
